.bg{
    background: #ffffff;
    display: flex;
    align-items:center;
    justify-content: center;
    height:25px;
    flex-direction: column;
}


.loginInput{
    position: relative;
    width: 25px;
    height: 20px;
    border-radius: 20px;

}

.loginInput input{

    appearance: none;
    width: 25px;
    height: 20px;
    border-radius: 25px;
    background: #DE9F4E;
    outline: none;
}

.loginInput input::before,
.loginInput input::after{
    z-index: 2;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    font-weight:bolder
}